<% if (messages){ %>
    <div class="form-group alert-link">
        <ul class="text-center">
            <% messages.forEach(message => { %>
                <% if (message.text){ %>
                    <li class="alert-<%= message.alert %>"><%= message.text %></li>
                <% } %>
            <% }) %>
        </ul>
    </div>
<% } %>
